<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

  <div class="log-in-form-container">
    <a href="/app">
      <button class="return-btn">
        Return to Main
      </button>
    </a>
  
    <h2 class="login-form-text">
      <%= title %>
    </h2>
  
    <form class="login-form" method="POST" action="">
      <div class="form-group">
        <label for="username">
          Username:
        </label>
        <input type="text" id="username" name="username">
      </div>
  
      <div class="form-group">
        <label for="password">
          Password:
        </label>
        <input type="password" id="password" name="password">
      </div>
  
      <button class="form-submit-btn" type="submit">
        Submit
      </button>
    </form>
  
    <% if (typeof(errors) !== 'undefined') { %>
      <div class="error-list">
        <% errors.forEach((error) => { %>
          <p><%= error.msg %></p>
        <% }); %>
      </div>
    <% }; %>
  </div>

</body>
</html>