<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div class="auth-sidebar">
    <h2>If you are New:</h2>
    <a href="/sign-up">
      <button class="auth-btn">Sign Up</button>
    </a>

    <h2>If you are a Member:</h2>
    <a href="/log-in">
      <button class="auth-btn">Log In</button>
    </a>
  </div>

</body>
</html>